{{ form_start(form) }}

    {{ form_widget(form) }}

    {# <div >
        {{ form_label(form.ingredients) }}
  {{ form_widget(form.ingredients, { 'attr': {'class': 'd-flex flex-wrap gap-3'} }) }} #}
    {# <div class="row">
        <div class="col">
            {{ form_row(form.ingredients) }}
            {{ form_row(form.ingredients) }}
        </div> #}


{{ form_end(form) }}
