{% extends 'base.html.twig' %}

{% block title %}{{recipe.name}}: détails{% endblock %}

{% block body %}
    <h1>{{controller_name}}</h1>



    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ recipe.id }}</td>
            </tr>
            <tr>
                <th>Moyenne des votes</th>
                <td>{{ recipe.average }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ recipe.Name }}</td>
            </tr>
            <tr>
                <th>Temps de préparation</th>
                <td>{{ recipe.time }}</td>
            </tr>
            <tr>
                <th>Nombre de personnes</th>
                <td>{{ recipe.nbPeople }}</td>
            </tr>
            <tr>
                <th>Difficulté</th>
                <td>{{ recipe.difficulty }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ recipe.description }}</td>
            </tr>
            <tr>
                <th>Budget</th>
                <td>{% if recipe.price %}                    
                    {{ recipe.price }}
                    {% else %}
                    {% set counter = 0 %}                    
                    {% for ingredient in recipe.ingredients %}
                    {{ingredient.name}} : {{ingredient.price}} €  <br> 
                    {% set counter = counter + ingredient.price %}
                    Coût minimal : {{counter}} €                        
                    {% endfor %}
                {% endif %}
                </td>
            </tr>
            <tr>
                <th>Publiée le :</th>
                <td>{{ recipe.createdAt ? recipe.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Mise à jour le :</th>
                <td>{{ recipe.updatedAt ? recipe.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            {# <tr>
                <th>IsFavorite</th>
                <td>{{ recipe.isFavorite ? 'Yes' : 'No' }}</td>
            </tr> #}
        </tbody>
    </table>

    <div class="mark">
        {{ form(form) }}
    </div>


    <a class="btn btn-info mt-3" href="{{ path('recipes_index') }}">back to list</a>

    <a class="btn btn-info mt-3" href="{{ path('recipes_edit', {'id': recipe.id}) }}">edit</a>

    {{ include('recipes/_delete_form.html.twig') }}
{% endblock %}
