{% extends 'base.html.twig' %}

{% block title %}Hello UsersController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>{{ controller_name }}! ✅</h1>

    <div class="d-flex justify-content-left flex-wrap gap-1 mt-5">
        {% for favoris in user.favorites %}


        <div class="card border-primary" style="max-width: 20rem;">
            <div class="card-header">Recette n°{{ favoris.id }}</div>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="{{ path('recipes_show', {id: favoris.id}) }}">{{ favoris.name }}</a>
                </h4>
                <p class="card-text">{{ favoris.description|slice(0, 100) ~ '...' }}</p>
            </div>
            <div class="card-footer text-muted">
                <a href="{{ path('recipes_show', {id: favoris.id}) }}">Voir les détails</a>
            </div>

        </div>


        {% endfor %}
    </div>

    {% endblock %}